<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name = "pose_topic"  default = "/frontend/pose_relative"/>
    <arg name = "pc_topic" default = "/frontend/point_cloud"/>

    <node 
        name   = "viewer"
        pkg    = "viewer"
        type   = "viewer_node"
        args   = "$(arg pose_topic) $(arg pc_topic)"
        output = "screen"
    >

    <remap from = "pose_relative_topic" to = "$(arg pose_topic)"/>
    <remap from = "point_cloud_topic"   to = "$(arg pc_topic)"/>
    </node>
</launch>
