<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name = "vo_topic"  default = "/frontend/pose_world"/>
    <arg name = "gt_topic"  default = "/tf"/>

    <node 
        name   = "pose_viewer"
        pkg    = "pose_viewer"
        type   = "pose_viewer_node.py"
        args   = "$(arg vo_topic) $(arg gt_topic)"
        output = "screen"
    >

    <remap from = "pose_world_topic" to = "$(arg vo_topic)"/>
    <remap from = "pose_ground_truth_topic" to = "$(arg gt_topic)"/>
    </node>
</launch>

