<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name = "topic"  default = "/frontend/pose_relative"/>

    <node 
        name   = "pose_viewer"
        pkg    = "pose_viewer"
        type   = "pose_viewer_node"
        args   = "$(arg topic)"
        output = "screen"
    >

    <remap from = "pose_relative_topic" to = "$(arg topic)"/>
    </node>
</launch>

