<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- <arg name = "pose_topic"  default = "/frontend/pose_relative"/> -->
    <arg name = "pose_topic"  default = "/frontend/pose_world"/>
    <arg name = "pc_topic" default = "/frontend/point_cloud"/>

    <node 
        name   = "cloud_viewer"
        pkg    = "cloud_viewer"
        type   = "cloud_viewer_node"
        args   = "$(arg pose_topic) $(arg pc_topic)"
        output = "screen"
    >

    <remap from = "pose_topic" to = "$(arg pose_topic)"/>
    <remap from = "point_cloud_topic"   to = "$(arg pc_topic)"/>
    </node>
</launch>
